<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OrderBookApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftOrderBook.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
